
.AbilityScore {
    display: inline-block;
    vertical-align: top;
}
.AbilityScore__box,
.AbilityScore__title {
    display: block;
    text-align: center;
}
.AbilityScore__box--score {
    display: block;
    text-align: center;
    margin: auto;
    width: 2em;
}
.AbilityScore__box--modifier {
    display: inline-block;
    border: 1px solid black;
}
.AbilityScore__box--button {
    display: block;
    width: 100%;
    border: 1px solid black;
}
.AbilityScore__box--proficiencies {
    text-align: left;
}
