.Proficiency {
    display: block;
}
.Proficiency__value {
    text-decoration: underline;
    margin-right: 0.5em;
}
.Proficiency__value--input {
    background: transparent;
    text-decoration: none;
    border-bottom: 1px solid black;
    margin-right: 0.5em;
    text-align: right;
    width: 2em;
}